* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
.container {
   width: 450px;
}
h1 {
   color: #364547;
   margin-bottom: 0.5em;
   text-align: center;
   font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
}
.container .main-box {
   width: 100%;
   display: flex;
}
.main-box div {
   width: 100%;
}
select {
   width: 95%;
   height: 40px;
   font-size: 1em;
   cursor: pointer;
   outline: none;
   background: #7868e6;
   color: white;
   margin: 0.2em 0;
   padding: 0 1em;
   border-radius: 10px;
   border: none;
}
input {
   width: 95%;
   height: 40px;
   font-size: 1em;
   margin: 0.2em 0;
   border-radius: 10px;
   border: none;
   background: #edeef7;
   outline: none;
   padding: 0 1em;
}
.btn {
   width: 98%;
   height: 40px;
   background: #364547;
   color: white;
   border-radius: 10px;
   border: none;
   cursor: pointer;
   font-size: 1em;
   margin: 0.5em 0;
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
